{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container-fluid section-container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <h3> Please give your input </h3>
            <p> What would you like to be developed next by The Woodworks? </p>
            {% if user.is_authenticated %}
                {% if voted %}
                    <h5 class="mt-2 font-weight-bold">You have already voted </h5>
                {% endif %}
            {% else %}
                    <h5 class="mt-2"> Please login or register to vote </h5>
            {% endif %}
            <div class="col-12 d-block">
                <hr>
            </div>
            {% for poll_product in poll_product_list %}
                <form action="{% url 'add_vote' poll_product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row mt-1">
                        <div class="col-8">
                            <h5>{{ poll_product.product_type }} : {{ poll_product.votes }}</h5>
                        </div>
                        <div class="col-4">
                            {% if user.is_authenticated and not voted %}
                                <input type="submit" class="btn-sm btn-dark" value="Vote">
                            {% endif%}
                        </div>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %} 