{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container-fluid">
<div class="mt-5">-</div>
    <div class="col-8 offset-2">
        <h1> What would you like to be developed next by The Woodworks? </h1>
        <h5>{{ vote_status }} </h5>
        {% if vote_status == True %}
            <h3> Voting succesful!! </h3>
        {% elif vote_status == False %}
            <h3> You have already voted </h3>
        {% endif %}
        {% for poll_product in poll_product_list %}
            <form action="{% url 'add_vote' poll_product.id %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 mt-5">
                        <h3>{{ poll_product.product_type }} : {{ poll_product.votes }}</h3> 
                        <input type="submit" class="btn-sm btn-dark" value="Vote">
                    </div>
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        {% endfor %}
    </div>
</section>
{% endblock %} 