/* ---------- colors ---------- */
.ms4-white {
    color: #FEFAE0; 
}

/* ---------- main body ---------- */
.main-body {
    background-image: url("https://ms4-the-woodworks.s3.eu-west-2.amazonaws.com/media/images/background-texture-2.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.section-container {
    margin-top: 5em;
    min-height: 80vh;
}


/* ---------- navbar styling, overriding bootstrap ---------- */ 
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: +5;
}


.nav-main-style {
    background-image: linear-gradient(to right, #283618, #606C38);
    color: #FEFAE0;
}

.navbar-light .navbar-nav .nav-link {
    color:#FEFAE0;
}

.navbar-light .navbar-toggler {
    color: #FEFAE0;
}

/* changing color of the hamburger menu */ 
.custom-toggler.navbar-toggler { 
    border-color: #FEFAE0;
} 

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 250, 224, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ---------- footer ---------- */
.main-footer {
    color: #FEFAE0;
    background-image: url("https://ms4-the-woodworks.s3.eu-west-2.amazonaws.com/media/images/horizontal-bark-texture.jpg");
    text-align: center;
}


/* ---------- buttons ---------- */
.btn-primary {
    color: #FEFAE0;
    background-color: #606C38;
    border-color: #283618;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:focus {
    color: #FEFAE0;
    background-color: #283618;
    border-color: #283618;
    box-shadow: none;
    outline: 0;
}

/* ---------- general ---------- */
hr {
    border-top-color: black;
}
/* ---------- general ---------- */
.card-text {
    display: none;
}

/* ---------- stripe ---------- */
/* All stripe styling from stripe documentation */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* ---------- mediaqueries ---------- */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {  
} 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .homepage-quote {
        font-size: 1.05em;
    }
    .card-text {
        font-size: 0.8em;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .card-text {
        display: block;
    }
    .toggle-info-button {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .homepage-quote {
        font-size: 1.8em;
    } 
    .card-text {
        font-size: 1em;
    }
}


